@model IEnumerable<RecAgency.Models.Vacancy>
@using Microsoft.AspNet.Identity;
@using System.Web.Security;
@{
    ViewBag.Title = "Вакансии";
}

<h2>Вакансии</h2>

<p>
    @if (User.IsInRole("Employer"))
    {
        @Html.ActionLink("Создать вакансию", "Create", "Vac") <br />
        @Html.ActionLink("Показать все вакансии", "List", "Vac", new { id = "" }, null) 
        @Html.Raw(" | ")
        @Html.ActionLink("Показать мои вакансии", "List", "Vac", new { id = User.Identity.GetUserId() }, null)
    }
    @Html.ActionLink("Фильтры", "VacFilter", "Vac")


</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Schedule)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Experience)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Salary)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfPublication)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Schedule)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Salary)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfPublication)
        </td>
        <td>
            @Html.ActionLink("Детали", "Details", "Vac", new { id=item.Id }, null) 
        </td>
    </tr>
}

</table>
<div>
    @Html.ActionLink("К стартовой странице", "Index", "Home")
</div>