@model RecAgency.Models.Summary

@{
    ViewBag.Title = "Details";
}

<h2>Заявка</h2>

<div>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Id
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            ФИО
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            Информация
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            Опыт
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            Дата публикации
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublication)
        </dd>

        <dt>
            Возраст
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Пол
        </dt>

        <dd>
                @if (Model.Sex)
                {
                    @Html.Raw("М");
                }
                else
                {
                    @Html.Raw("Ж");
                }
        </dd>

        <dt>
            Основная профессия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseProfession)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Одобрить ", "Submit", "Admin", new { id = Model.Id }, null) ||
    @Html.ActionLink(" Отказать", "Refuse", "Admin", new { id = Model.Id }, null)<br/>
    @Html.ActionLink("К списку", "SumList", "Admin")
</p>
