@model IEnumerable<RecAgency.Models.Summary>

@{
    ViewBag.Title = "SumList";
}

<h2>Заявки на публикацию</h2>

<table class="table">
    <tr>
        <th>
           ФИО
        </th>
        <th>
            Информация
        </th>
        <th>
            Опыт
        </th>
        <th>
            Дата отправки
        </th>
        <th>
            Возраст
        </th>
        <th>
            Пол
        </th>
        <th>
            Основная профессия
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FIO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Info)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Experience)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DatePublication)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Age)
        </td>
        <td>
            @if (item.Sex)
                {
                @Html.Raw("М");
                }
                else
                {
                @Html.Raw("Ж");
                }
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BaseProfession)
        </td>
        <td>
            @Html.ActionLink("Детали", "Details", "Admin", new { id = item.Id }, null) 
        </td>
    </tr>
}

</table>
