@model RecuirementAgency.Models.Dao_Summ.VO_Summ

<div>
    <h4>VO_Summ</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.age)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.age)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idOfAuthor)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.idOfAuthor)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.info)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.info)
        </dd>
        
        

    </dl>
</div>
<dt>
    @Html.DisplayNameFor(model => model.professions)
</dt>
<table class="table">
    @foreach (var item in Model.professions)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
        </tr>
    }
</table>
<dt>
    @Html.DisplayNameFor(model => model.experience)
</dt>
<table class="table">
    @foreach (var item in Model.experience)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item)
            </td>
        </tr>
    }
</table>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
