@model RecAgency.Models.Summary
@using Microsoft.AspNet.Identity;

@{
    ViewBag.Title = "Details";
}

<h2>Детали</h2>

<div>
    <hr />
    
        @switch (Model.Status)
        {
            case 1:
                <h4>Черновик резюме</h4>
                break;
            case 2:
                <h4>Резюме на рассмотрении</h4>
                break;
            case 3:
                <h4>Отказано в публикации резюме</h4>
                <br/>
                @Model.Comment;
                break;
            case 4:
                <h4>Резюме опубликовано</h4>
                break;
        }
    <br/>
    <dl class="dl-horizontal">
        <dt>
            ФИО
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FIO)
        </dd>

        <dt>
            Информация
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Info)
        </dd>

        <dt>
            Опыт
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Experience)
        </dd>

        <dt>
            Дата последнего редактирования
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatePublication)
        </dd>

        <dt>
            Возраст
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Age)
        </dd>

        <dt>
            Пол
        </dt>

        <dd>
            @if (Model.Sex)
            {
                @Html.Raw("М");
            }
            else
            {
                @Html.Raw("Ж");
            }
        </dd>

        <dt>
            Основная профессия
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BaseProfession)
        </dd>

    </dl>
</div>
<p>
    <div>
        @if (User.Identity.GetUserId() == Model.IdOfAuthor)
        {
            if (Model.Status == 1 || Model.Status == 3)
            {
                @Html.ActionLink("Отправить на публикацию", "SendForAdmin", "Sum", new { id = Model.Id }, null) <br />
            }
            @Html.ActionLink("Редактировать", "Edit", "Sum", new { id = Model.Id }, null) <br />
            @Html.ActionLink("Удалить", "Delete", "Sum", new { id = Model.Id }, null)
        }
        <div>
            @if (User.IsInRole("Employer"))
            {
            @Html.ActionLink("Посмотреть резюме", "List", "Sum")
            }
        </div>
        <div>
            @Html.ActionLink("К стартовой странице", "Index", "Home")
        </div>
        </div>
</p>
